ArchivesSnake==0.10.1
attrs==24.3.0
autopep8==2.3.1
boltons==24.1.0
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
more-itertools==10.5.0
pycodestyle==2.12.1
PyYAML==6.0.2
RapidFuzz==3.11.0
requests==2.32.3
sly==0.5
structlog==24.4.0
tomli==2.2.1
urllib3==2.3.0
